/***********
DetRoomNav
************/
.arrow{
	font-size: 1.5em;
	color: rgba(42,111,201,.7);
	font-weight: lighter;
}



/************
content
**************/
.DetImg{
	width: 37%;
	margin: 0 auto;
}

.DetImg img{
	height: 400px;
	width: 450px;
	margin: 0 auto;

}

.roomPrice{
	font-weight: bold;
	font-size: 2em;
	display: inline;

}

.stripe{
	display: inline;
	float: right;
}

.RoomInfo{
	margin-top: 30px;
	width: 28.125em;

}

#disqus_thread{
	width: 90%;
	margin: 0 auto;
}