body{
	margin: 0px;
}


/***********
DetRoomNav
************/

.detailRoomNav{
	width: 100%;
	padding-top:10px;
	padding-bottom: 15px;
	background: rgb(68,128,132);
}


.detailNav{
	list-style: none;
    font-size: 25px;
    display: inline;
    width: 100%;
}

.detailNav li{
	display: inline;

}

.detailNav a{
	padding: 10px;
	text-decoration: none;
	color: black;
}


.detailNav a:hover{
	color: #4372E5;
}



.arrow{
	font-size: 1.5em;
	color: rgba(42,111,201,.7);
	font-weight: lighter;
}



/************
content
**************/
.DetImg{
	width: 37%;
	margin: 0 auto;
}

.DetImg img{
	height: 400px;
	width: 450px;
	margin: 0 auto;

}

.roomPrice{
	font-weight: bold;
	font-size: 2em;
	display: inline;

}

.stripe{
	display: inline;
	float: right;
}

.RoomInfo{
	margin-top: 30px;
	width: 28.125em;

}

.SeeListingCon{
	width: 30%;
	margin-left: 465px;
	padding: 20px;
	top:0px;
    transition:top .8s ease;
}


.SeeListing{
    width: 20%;
    margin: 30px auto;
    border: none;
    font-size: 2em;
    background: rgb(42,111,201);
    color: white;
    box-shadow: 0px 10px 25px lightgrey;
    border-radius: 5px;

}

.SeeListingCon:hover{
	top: 10px;
}

#disqus_thread{
	width: 90%;
	margin: 0 auto;
}

/*********************
FOOTER
*********************/



#footer{
    background:rgb(28,27,27);
    width: 100%;
    height: 80px;
    position: relative;
    text-align: center;
}

/*--logos--*/


#footer p{
    display: inline-block;
    color: white;
    position: relative;
    top: 10px;
    padding-left: 10px;
}

#footer a i{
    margin: 10px auto;
    color: white;
    font-size: 2em;
    padding-left: 25px;
    position: relative;
    top: 15px;
}

#footer a i:hover{
    color: rgb(62,133,209);
}
