.detail{
	height: 300px;
	width: 550px;
	display: inline;
}

.detailMap{
	width: 100px;
	height: 200px;
}

.detNav{
	list-style: none;
}

.detNav a{
	text-decoration: none;
	font-size: 2em;

}

.detNav li{
	display: inline;
	padding-left: 10px;
}