

/*******************
DRAW MAP
*****************/
#drawmap {
    height: 500px;
    width: 80%;
    margin: 40px auto;
}




/*******************
MARKER MAP
*****************/
#map {
    height: 500px;
    width: 80%;
    margin: 40px auto;
}

p{
	width: 100%;
	border-top: 10px solid black;
	margin-top: 50px;
}


.housePre{
	height: 400px;
	width: 400px;
	background: url('http://weknowyourdreams.com/images/bedroom/bedroom-01.jpg') no-repeat;
	background-size: 100% 100%;
}