body{
	background: grey;
}





.hostContainer{
	background: purple;
	width: 80%;
	height: 500px;
	margin:0px auto;
	padding: 1%;
	position: relative;
	top: 60px;
	box-shadow: 10px 10px 10px 10px grey;
}
/*********************
LOGIN FORM
*********************/

.login-form{
	margin: 0px auto;
	color: white;
	background: orange;
	min-height: 200px;
	position: relative;
	padding: 5%;

}

#login-username {
	height: 40px;
	margin: 10px auto;
	border: none;
}

#login-password{
	height: 40px;
	border: none;
	background: rgba(255,255,255,.6);
}



.owner-home{
	width: 20%;
	margin:0px auto;
}


#navBar{
	text-align: center;
}



#title{
	background: red;	
}


#mainapp{
	width: 20%;
	margin:0px auto;
	text-align: center;
}


.content{
	width:100%;
	margin:0px auto;

}



.login-form div input{
	height: 100%;
}

#login-user{
	height: 300px;
}

.logBtn{
	border: none;
	background: pink;
	color: black;
}


/***********************
SIGN UP FORM
*******************************/

.signup{
	background: red;
	width: 300px;
	padding: 1%;
}










