html, body{
    font-family: 'Nova Round', cursive;
    margin: 0px;
    background-color: rgb(209,209,209);
}

/***************************
HOST NAVBAR
****************************/

ul{
    list-style-type: none;
    font-size: 25px;
    height: 60px;
    margin: 0px;
    padding-top: 20px;
    border-bottom: 5px solid rgb(38,37,34);
}

#navbar li {
    display:inline;
   
}
#navbar a{
    text-decoration: none;
    padding:80px;
    color:rgb(38,37,34);
}

#navbar a:hover{
    color:rgb(68,128,132);

}
#navbar{
    background-color: rgb(145,182,183);

}

.main-photo{
  width: 100%;
  height: 550px;
  padding-top: 14px;
  background-image: url("../images/2008-0712-MPLS-panorama-crop.jpg");
  background-repeat: no-repeat;
  background-position: 37.1% 50%;
  border-bottom: 5px solid rgb(38,37,34);
  opacity:0.9;
  
}   


h2{
    text-align: center;
    color:  #212527;
    font-size: 51px;
    background-color: rgba(128, 128, 128, 0);
    height: 66px;
    padding-top: 82px;
}


#disqus_thread{ 
    width:90%;
    margin:0 auto;
    margin-top: 80px;
    padding: 20px;

}

.disqus-wrapper{
    background-color:rgb(145,182,183);
    width: 100%;
   
}

.room-description{
    width: 80%;
    margin: 0 auto;
    margin-left: 30px;

}

.room{
    margin-left: 30px;
    color: rgb(38,37,34);
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.map{
    display: inline;


}

.g-map{
    margin-left: 30px;
    padding-top: 40px;
    font-size: 30px;
    padding-bottom: 20px;
}

.map iframe{
    margin-left: 30px;
}

img{
    width: 400px;
    height: 300px;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 30px;
    border-top: 20px solid white;
    border-right: 12px solid white;
    border-left: 12px solid white;
    border-bottom: 75px solid white;

}


/***************************
FOOTER
****************************/


#footer{
    width: 100%;
    height: 80px;
    position: relative;
    text-align: center;
    background-color: rgb(38,37,34);
    margin-top: 40px;
}

#footer h3{
    position: relative;
    display: inline-block;
    width: 100px;
}

#footer p{
    display: inline-block;
    color:rgb(68,128,132);
    position: relative;
    top: 10px;
    padding-left: 10px;
}

#footer p:hover{
color: rgb(176,145,57);
}

#footer a {
    margin: 10px auto;
    font-size: 2em;
    padding-left: 25px;
    position: relative;
    top: 15px;
    color: rgb(68,128,132);

}


.icons{
    color:rgb(68,128,132);
}

.icons:hover{
    color:rgb(176,145,57);
}


/***************************
END FOOTER
****************************/


