html, body{
    font-family: 'Nova Round', cursive;
    margin: 0px;
    background-color: rgb(209,209,209);
}


.error{
    font-family: 'Nova Round', cursive;
    font-size: 20px;
    height: 50px;
    width: 300px;
}

#title{ 
    background-color: rgb(145,182,183);
}
    
#title a{
    text-decoration: none;
    padding:40px;
    color:rgb(38,37,34);
}

#title li {
    display:inline;
}

ul{
    list-style-type: none;
    font-size: 25px;
    height: 60px;
    margin: 0px;
    padding-top: 20px;
    border-bottom: 5px solid rgb(38,37,34);
}

/************************
LOGIN FORM
***************************/
.login{
    margin: 0px auto;
    min-height: 500px;
    padding: 10%;
    background-color: rgb(209,209,209);
}

.login-form{
    background-color:rgb(145, 182, 183);
    width:600px;
    height: 300px;
    text-align: center;
    border-top: 6px solid rgb(68, 128, 132);
    border-right:3px solid rgb(68, 128, 132);
    border-left:3px solid rgb(68, 128, 132);
    border-bottom: 3px solid rgb(68, 128, 132);
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
    margin:0 auto;
}

.input{
    margin-top:-50px;
    margin-left: 40px;

}

#login-username {
    height: 50px;
    width: 300px;
    margin: 7px auto;
    border: none;
    background-color: white;   
    font-family: 'Nova Round', cursive;
    font-size: 20px;
    padding-left: 20px;
}

.font {
    position: relative;
    top: 59px;
    right: 182px;
    background-color:rgb(68,128,132);
    padding: 18px;
    border-right: 4px solid rgb(209,209,209);
}


.user-input{
    position: relative;
    top:40px;
}

.lock {
    position: relative;
    top: 58px;
    right: 182px;
    background-color:rgb(68,128,132);
    padding: 18px;
    border-right: 4px solid rgb(209,209,209);
}

#login-password{
   height: 50px;
   width: 300px;
   border: none;margin: 6px auto;
   background-color: white ;
   font-family: 'Nova Round', cursive;
   font-size: 20px;
   padding-left: 20px;

}

.login-btn {
    height: 50px;
    width: 350px;
    border: none;
    background:rgb(68, 128, 132);
    color: rgb(38,37,34);
    width: 365px;
    margin-right: 50px;
    margin-top: 10px;
    font-family: 'Nova Round', cursive;
    font-size: 20px;
    padding-left: 20px;

}

.fa-lock:before{
    color:rgb(209,209,209);
}

.fa-user:before {
    color:rgb(209,209,209);
}
/************************
END LOGIN FORM
***************************/


/**********************************
CREATE LISTING TEMPLATE AND EDIT
***********************************/
h1{

  font-family: 'Nova Round', cursive; 
  font-size: 30px; 
  color:rgb(38,37,34);
}

.form-title {
    color:rgb(38,37,34);
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(38,37,34);
    text-align: center;
    height: 65px;
    padding-top: 20px;
}

.create-listing-form{
    width: 50%;
    height: 900px;
    padding-top: 40px;
    margin:0 auto;
}
.fields {
    width: 300px;
    height: 35px;
    font-size: 15px;
    border-top: 3px solid rgb(68,128,132);
    border-bottom: 2px solid rgb(68,128,132);
    border-left: 2px solid rgb(68,128,132);
    border-right: 2px solid rgb(68,128,132);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-bottom: 10px;
    background-color:rgb(209,209,209);

}
.create-listing-form textarea{
    width: 300px;
    height: 90px;
    font-size: 15px;
    background-color:rgb(209,209,209);
    border-top: 3px solid rgb(68,128,132);
    border-bottom: 2px solid rgb(68,128,132);
    border-left: 2px solid rgb(68,128,132);
    border-right: 2px solid rgb(68,128,132);


}

.span{
    font-size:35px;
    color:rgb(38,37,34);


}

.btn{
    border-top: 2px solid rgb(38,37,34);
    border-bottom: 2px solid rgb(38,37,34);
    border-left: 2px solid rgb(38,37,34);
    border-right: 2px solid rgb(38,37,34);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: rgb(38,37,34);
    background-color: rgb(68,128,132);
    width: 200px;
    margin-top: 30px;
    margin-bottom: 40px;
    height: 35px;
}

.info{
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 20px;
}

.create-listing-content {
    width: 45%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: rgb(145,182,183);
    margin-bottom: 20px;
    color:rgb(38,37,34);
    border-right: 3px solid rgb(68,128,132);
    border-left: 3px solid rgb(68,128,132);
    border-top: 3px solid rgb(68,128,132);
    border-bottom: 3px solid rgb(68,128,132);
}

.create-listing-form label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    color:rgb(38,37,34);
}
.create-listing-form input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}
.create-listing-form input::-webkit-input-placeholder { 
    padding-left: 30px;
    color:white;

}

.cloudinary-button{
    margin-left: 40%;

}


#main{

    margin: 0 auto;
    padding-left: 50px;
    padding-top: 20px;
    margin-top: 40px;
    background-color:rgb(145,182,183);
    border-top: 6px solid rgb(68, 128, 132);
    border-right:3px solid rgb(68, 128, 132);
    border-left:3px solid rgb(68, 128, 132);
    border-bottom: 3px solid rgb(68, 128, 132);
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
    margin:0 auto;
    width: 80%;
    /*background-image:url("../images/o-COLLEGE-ROOMMATES-facebook.jpg");
    background-repeat: no-repeat;
    background-position: 71% 200%;
    z-index: 10px;*/
}

textarea{
    height: 200px;
    width: 400px;
    background-color:rgba(209,209,209);
    

}

.room-title{
    width: 300px;
    height: 60px;
    background-color:rgba(255, 255, 255, 0.8);
    font-size: 23px;
    
}

h3{
    color:rgb(3, 44, 73);
    font-size: 23px;
    
}

span{
    color:rgb(3, 44, 73);
    font-size: 23px;
}

h2{
    text-align: center;
    color:rgb(3, 44, 73);
    font-size: 30px;
}

.restrictions{
    margin-top: 20px;
    
}

.amenities{
    margin-top: 20px;
    
}


.border{
    margin-bottom: 10px;
}

.border-zip{
    margin-bottom: 40px;
}

/***************************
END CREATE LISTING TEMPLATE
****************************/

#footer{
    width: 100%;
    height: 80px;
    position: relative;
    text-align: center;
}

#footer h3{
    position: relative;
    display: inline-block;
    width: 100px;
}

#footer p{
    display: inline-block;
    color: white;
    position: relative;
    top: 10px;
    padding-left: 10px;
}

#footer a{
    margin: 10px auto;
    color: white;
    font-size: 2em;
    padding-left: 25px;
    position: relative;
    top: 15px;
}

#footer a:hover{
    color: rgb(62,133,209);
}

