body{
    margin: 0px auto;
}
/*****************
Main header
***************/
#background {
    background: rgba(213,213,213,1);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color:#FFF;
    width:100%;
    height:500px;
    margin: auto;
    padding-top: 60px;
    font-size: 30px;
    position: relative;
    border-bottom: 20px solid rgb(54,52,52);
}

.trans-container{
    background: rgba(111,111,111,.4);
    width: 50%;
    padding: 1% 0% 3% 0%;
    margin: 0px auto;
    position: relative;
    top: 30px;
}

h1{
    color: rgb(52, 67, 67);
    position: relative;
    margin: 80px auto;
    width: 80%;
}


.signUp{
    color:rgb(52, 67, 67);
    float: right;
    position: relative;
    bottom: 45px;
    right: 15px;
    background: transparent;
    border:1px solid rgba(156,193,194,.5);
    transition: background 1s ease;
}

.signUp:hover{
     background: rgb(41,106,191);
}

.signUp a{
    color: rgb(52, 67, 67);
    text-decoration: none;
    font-size: .8em;
    transition:color 1s ease;
}

.signUp a:hover{
    color: white;
}

.loginBtn{
    border: 1px solid  rgba(156,193,194,.5);
    background: transparent;
    transition:background .7s ease;
}

.loginBtn:hover{
    background: rgb(41,106,191);
}



.loginBtn a {
    text-decoration: none;
    color:  #464041;
    transition:color .7s ease;
}

.loginBtn a:hover {
    color: white;
}


/******************
GALLERY
*******************/
#gallery{
    width: 90%;
    margin: 0px auto;
}

ul.photos{
    padding: 0px;
    margin: 50px auto;
    width: 85%;
 
}

.photos li{
    list-style: none;
    display: inline;

}

.photos li img{
    height: 200px;
    width: 300px;
}

/******************
CONTACT
*******************/
.contact-section{
    width: 100%;
    min-height: 550px;
    background: rgb(54,52,52);
}

.center{
    margin: 0px auto;
    width: 80%;
    min-height: 400px;
    text-align: center;
    position: relative;
}

.center input {
    height: 40px;
    width: 37.5%;
    border-radius: 3px;
    border: none;
    display: inline;
    background: rgb(153,153,153);
    padding-left: 20px;
    color: black;

}


.center input::-webkit-input-placeholder { /* Chrome */
  color: #464041;
  transition: opacity 1s ease-in-out;
} 



.center button{
    border: none;
    height: 3%;
    width: 20%;
    background: rgb(62,133,209);
    color: white;
    border-radius: 5px;
    font-size: 1em;
    border-radius: 50px;
    padding: 2%;
    font-weight: bold;
    margin: 50px auto;
    transition:background 1s ease;
}

.center button:hover{
    background: rgb(41,106,191);
}

.contact{
    font-size: 3em;
    color: white;
    position: relative;
    top:20px;
}

.message{
    position: inline-block;
    width: 77%;
    padding-left: 25px;
    height: 150px;
    border-radius: 5px;
    border: none;
    margin: 20px auto;
    background: rgb(153,153,153);
}

.message::-webkit-input-placeholder { /* Chrome */
  color: #464041;
  transition: opacity 1s ease-in-out;
} 

/**********
FOOTER
***********/
#footer{
    background:rgb(28,27,27);


}

#footer p {
    padding: none;
}
/*--logos--*/
#options{
    height:10px;
    
}

#options i{
    width:100px;
    font-size: 3em;
    color:black;
    
}


#footer{
    width: 100%;
    height: 80px;
    position: relative;
    text-align: center;
}

#footer h3{
    position: relative;
    display: inline-block;
    width: 100px;
}

#footer p{
    display: inline-block;
    color: white;
    position: relative;
    top: 10px;
    padding-left: 10px;
}

#footer a{
    margin: 10px auto;
    color: white;
    font-size: 2em;
    padding-left: 25px;
    position: relative;
    top: 15px;
}

#footer a:hover{
    color: rgb(62,133,209);
}










