body{
    margin: 0px auto;
}
/*****************
Main header
***************/
#background {
    background: rgba(213,213,213,1);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color:#FFF;
    width:100%;
    height:500px;
    margin: auto;
    padding-top: 60px;
    font-size: 30px;
    position: relative;
    border-bottom: 20px solid rgb(116,135,135);
}

.trans-container{
    background: rgba(111,111,111,.4);
    width: 50%;
    padding: 1% 0% 3% 0%;
    margin: 0px auto;
    position: relative;
    top: 30px;
}

h1{
    color: rgb(52, 67, 67);
    position: relative;
    margin: 80px auto;
    width: 80%;
}


.signUp{
    color:rgb(52, 67, 67);
    float: right;
    position: relative;
    bottom: 45px;
    right: 15px;
    background: transparent;
    border:1px solid rgba(156,193,194,.5);
    transition: background 1s ease;
}

.signUp:hover{
     background: rgba(156,193,194,1);
}

.signUp a{
    color: rgb(52, 67, 67);
    text-decoration: none;
    font-size: .8em;
    transition:color 1s ease;
}

.signUp a:hover{
    color: white;
}

.loginBtn{
    border: 1px solid  rgba(156,193,194,.5);
    background: transparent;
    transition:background 1s ease;
}

.loginBtn:hover{
    background: rgba(156,193,194,1);
}


.loginBtn a {
    text-decoration: none;
    color: rgb(52, 67, 67);
    transition:color 1s ease;
}

.loginBtn a:hover {
    color: white;
}


/******************
GALLERY
*******************/
#gallery{
    width: 90%;
    margin: 0px auto;
}

ul.photos{
    padding: 0px;
    margin: 50px auto;
    width: 85%;
 
}

.photos li{
    list-style: none;
    display: inline;

}

.photos li img{
    height: 200px;
    width: 300px;
}

/******************
CONTACT
*******************/
.contact-section{
    width: 100%;
    height: 500px;
    background: red;
}

/*--logos--
#options{
    height:10px;
    
}

#options i{
    width:100px;
    font-size: 3em;
    color:black;
    
}

#photos{
    background-color:#C5C5AD;
    margin: 0px auto;
   
}

#photos img{
    height: 250px;
    width: 370px;
    margin: 20px 20px;
}

#photos img:before{
    content: '$';
    color: red;

}





#footer{
    width: 100%;
    height: 60px;
    position: relative;
    border-top: 2px solid black;
    text-align: center;
}

#footer h3{
    position: relative;
    display: inline-block;
    width: 100px;
}

#footer p{
    display: inline-block;
}

#footer a{
    margin: 10px;
}



*/








