html, body {
  height: 100%;
  background-color:#d7e0c1;
}

.menu ul{
list-style:none;
}

/*. background image{
    background: url("images/o-COLLEGE-ROOMMATES-facebook.jpg")  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color:#FFF;
    width:inherit;
    height:450px;
    margin: auto;
    padding-top: 60px;
    font-size: 30px;
}*/

nav{
    height: 50px;
    margin: 0 auto;
    background-color:#7980AF;
    text-align: center;
    padding: 7px;
}

nav ul {
    margin: 0 auto;
    padding-top:6px;
}

nav a:hover{
    color:white;
    background-color:#AAABB1;
}

li a{
    width: 300px;
    height:40px;
    float: left;
    margin-top: 0px;
    display: block;
    text-align: center;
    font-weight: bold;
  
}

ul li a{
    color:black;
}

/*--logos--*/
#options{
    height:10px;
    
}

#options i{
    width:100px;
    font-size: 3em;
    color:black;
    
}

#photos{
    background-color:#C5C5AD;
}

#footer{
    width: 100%;
    height: 60px;
    position: relative;
    border-top: 2px solid black;
    text-align: center;
}
#footer h3{
    position: relative;
    display: inline-block;
    margin: 0;
    width: 100px;
}
#footer p{
    display: inline-block;
}
#footer a{
    margin: 10px;













