
body{
	font-family: sans-serif;
}

.logo{
	float: left;
	color: blue;
	font-size: 1.4em;
	text-decoration: none;
}

.renterhome-nav{
	width: 100%;
	border-bottom: 1px solid black;


}

.rentersPro{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.renterhome-nav a {
	color: white;
}

.renterhome-nav a:hover {
	color: blue;
}

.renterhome-nav{
	width: 80%;
	text-align: center;
	margin: 0px auto;
	color: black;

}

.renterhome-nav ul li{
	list-style: none;
	display: inline;
	padding-left: 20px;
	font-size: 1.5em;
}

.renterhome-nav li a{
	text-decoration: none;
}



.other li {
	list-style: none;
	display: inline;
	padding-left: 10px;
}

.other li img {
	height: 200px;
	width: 250px;
	display: inline-block;
	position: relative;
}

.other img:after {
	content: " ";
	background: red;
	position: absolute;
	height: 20px;
	width: 10px;

}

.favorites li{
	list-style: none;
	display: inline;
	padding-left: 10px;
}

.favorites li img {
	height: 200px;
	width: 250px;
	display: inline-block;
	position: relative;
}

#disqus_thread{
	width: 75%;
	margin: 0px auto;
	background: white;
	padding: 20px;
	border-radius: 5px;
}

