
body{
	font-family: sans-serif;
}

.renterNav a{
	padding-left: 30px;
	font-size: 2em;
	text-decoration: none;
	color: rgb(3,44,73);
}

.renterNav a:hover{
	color:rgb(68,128,132);
}

.search{
	width: 100%;
	text-align: center;

}

.searchBtn{
	height: 40px;
	width: 20%;
	background: rgb(176,145,57);
	color: white;
	border: none;
	margin: 0px auto;
}


/***************
Other Carasouel
*************/
.otherCarousel{
	width: 480px;
	height: 280px;
	overflow: hidden;

}

.otherCarousel ul{
	width: 90%;
	padding: 0px;
	margin: 0px;
}

.otherCarousel ul li{
	width: 480px;
	text-align: center;
	height: 280px;
	list-style: none;
	float: left;
}

.otherCarousel li img{
	height: 300px;
	width: 400px;
	opacity: .3;
	transition: opacity .7s;
}

.otherCarousel li img:hover{
	opacity: .8;
}

/***************
Fav Carasouel
*************/

.favorites{
	text-align: center;
	padding-top:0px;
}

.favorites li{
	list-style: none;
	display: inline;
	padding-left: 10px;
}

.favorites li img {
	height: 200px;
	width: 250px;
	display: inline-block;
	position: relative;
}

#disqus_thread{
	width: 75%;
	margin: 0px auto;
	background: white;
	padding: 20px;
	border-radius: 5px;
}

